*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
formApp/vendor
formApp/node_modules
formApp/.env
formApp/storage/logs
formApp/storage/framework/cache
formApp/storage/framework/views
formApp/storage/framework/sessions
formApp/storage/framework/cache
